
.icon-facebook-1:before { content: '\e808'; } /* '' */
.icon-facebook-rect:before { content: '\e800'; } /* '' */
.icon-linkedin-1:before { content: '\e807'; } /* '' */
.icon-linkedin-rect:before { content: '\e804'; } /* '' */
.icon-instagram-1:before { content: '\e805'; } /* '' */
.icon-instagram-filled:before { content: '\e806'; } /* '' */