div.title-page {

	h1 {
		font-size: 13em;
	}

	p {
		font-size: 2.3em;
	}
}

.jrc-por {
	
	.content {

		.columns-2 {

			.outer-content {

				p {
					@include columns(2);
				}
			}
		}
	}

	.pic-bg {

		blockquote {
			font-size: 4em;
		}
	}
}