header {

	.main-logo {

		.poster {

			img {
			  height: 113px;
			  width: 115px;
			}

			.movement {
		      height: 113px;
		      width: 115px;
		    }
		}	
	}
}

.jrc-por {
	
	.pic-bg {

		blockquote {
			font-size: 6em;
		}
	}
}

