header {

	.main-logo {

		.poster {

			img {
			  height: 113px;
			  width: 115px;
			}

			.movement {
		      height: 113px;
		      width: 115px;
		    }
		}	
	}
}

div.title-page {

	h1 {
		font-size: 15em;
	}

	p {
		font-size: 2.5em;
	}
}

.jrc-por {
	
	.pic-bg {

		blockquote {
			font-size: 6em;
		}
	}
}

.copyright {
	text-align: right;
}

header .nav-bar .nav {
    display: inherit;
}

.background-wrapper {
	
	&.about {
		height: 42em;
		background-size: 990px !important;
		background-position: -400px 93%;
	}
}

@media only screen and (min-height: 850px) {
	.background-wrapper {

		&.about {
			height: 47em;
		}
	}
}

