/*
		Typography
*/

.league-gothic {
	font-family: 'LeagueGothicRegular', sans-serif;  
}

.crimson {
    font-family: 'CrimsonRoman', serif;
}

.font-awesome {
    font-family: 'FontAwesome';
}

/*
    Styles for off-canvas nav 
*/
section[role="complementary-nav"],
#outer-container {
    transition: .2s all ease;
    float: left;
}

#outer-container {
    margin-left: 0;
}

#outer-container.active-sidebar {
    margin-left: -80%;
}

section[role="complementary-nav"] {
  margin-right: -200%;
  width: 80%;
  height: 100%;
  display: block;
  background-color: #1b1c1c;

  p.header-replace {
    height: 7.875em;
    margin: 10px 0 0 0;
    padding: 0;
  }

  hr {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    position: fixed;

    li {

      a {
        color: white;
        font-size: 3em;
        text-transform: uppercase;
      }
    }
  }
}

/*
		Header styles
*/

.top-strip {
  height: 10px;
  background-color: #202120;
  border: none;
}

header {

  .nav-bar {

    .nav {

      p {
        margin: 0;

        i {
          line-height: 3.9375em;
          font-size: 2em;
          padding-right: .5em;
          font-style: normal;
        }
      }

      #magic-line {
        position: absolute;
        height: 5px;
        background-color: $color3;
        bottom: 0;
        z-index: 10;
      }

      .show-nav-off-canvas {
        position: relative;
        text-align: right;
        height: 7.875em;

        img {
          position: absolute;
          top: 1.9em;
          right: 0;
        }
      }

      ul.button-group {
        display: none;
        height: 10.78571428571429em;
        position: relative;
      }

      li {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin: auto 1em;
        text-align: center;
        position: relative;
        width: 75px;

        a {
          display: block;
          background-color: inherit;
          border: none;
          font-size: 1.71428571428571em;
          padding: 0;
          margin: 0;
          padding-top: 2.4em;
          height: 100%;
          text-transform: uppercase;
          color: #6D6E70;
          font-weight: 500;
          -webkit-transition: all .35s linear 0;
          -moz-transition: all .35s linear 0;
          transition: all .35s linear 0;
        }
      }

      li:first-child {
        margin-right: 0; 
      }

      li.selected {
        background-color: white;
        border: none;

        img {
          position: absolute;
          z-index: 10;
          left: 40%;
        }
      }

      li.selected.no-js {
        background: url(img/assets/components/nav-bottom-border-red.gif) left bottom repeat-x; 
      }
    }
  }

  .main-logo {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    height: 7.875em;

    img {
      height: 5.375em;
    }

    .poster {
      display: inline-block;

      .movement {
        height: 75px;
        width: 77px;
        display: inline-block;
      }
    }
    
  }

  .row {

    hr {
      margin-top: 0; 
    }
  }

  .button-group > * {
    float: none;
  }
}

button.secondary:hover, 
button.secondary:focus, 
.button.secondary:hover, 
.button.secondary:focus {
  background-color: inherit;
}

/*
    Work page styles
*/

.work-row {
    font-family: 'Asap', sans-serif;
    margin-top: 3em;
    margin-bottom: 3em;

    .work-featured-image {
      height: 300px;
      line-height: 300px;
    }

  .work-title {
    font-size: 1.85714285714286em;
    color: #333333;
    font-weight: 700;
    font-style: italic;
  }

  .work-tags {
    li, span.tag-separator {
      color: #6D6E70;
      text-transform: uppercase;
    }

    li {
      display: inline-block;
      font-size: 0.85714285714286em;
      margin-top: 1em; 
      margin-bottom: 3em;
    }
  }

  hr {
    margin: 0;
  }
}

/*
		Footer styles
*/

.footer {
  background-color: #202120;    
  color: white;

  .row {
    margin: 1em auto;

    .columns {
      height: 32px;
    }
  }

  .copyright {
    height: 32px;
    display: table;  
    font-size: 1em;
    line-height: 32px;
    font-family: 'Asap', sans-serif;
    letter-spacing: .1em;

    span {
      display: table-cell;
      vertical-align: middle;   
    }
  }

  /* Social icon styles */

  .poster {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 1.5em;

    .movement {
      height: 32px;
      width: 32px;

      .social-icon {

        div.circle {
          display:inline-block;
          background-color: white;
          margin-left: 1.5em;
          border-radius: 100px;
          width: 32px;
          height: 32px;
          text-align: center;

          i {
            color: #202120;
            font-size: 17px;
            line-height: 35px;
            padding-left: 1px;
          }
        }
      }

      .social-icon:first-child .circle {
        margin-left: 0;
      }
    }

    .back {

      .social-icon {

        .circle {

          i.icon-facebook-1 {
            color: #3a5998;
          }

          i.icon-instagram-filled {
            color: #ffa876;
          }

          i.icon-linkedin-rect {
            color: #5ba8cf;
          }
        }
      }
    }
  }

  .poster:last-child {
    margin-right: 0;
  }
}

/* Individual portfolio styles */
.jrc-por {

  h1.por-title {
    @include single-title;
    color: $color2;
    margin-top: 0;
  }

  .por-nav {

    i {
      color: $color2;
      font-size: 1.85714285714286em;
      margin-left: 25px;
      vertical-align: top;
    }

    a:first-child i {
      margin-left: 0;
    }

    i.icon-angle-left, i.icon-angle-right {
      font-size: 2.5em;
      line-height: .55em;
      margin-top: 2em;
      font-weight: 500;
    }

    i.icon-th {
      line-height: .85;
    }

    i.icon-angle-left:before , i.icon-th:before, i.icon-angle-right:before {
      content: '';
      width: auto;
      margin: 0;
    }
  }

  .featured-image img {
    width: 100%;
    margin: 4em auto;
  }

  div.slideshow-link  {
    height: 3.57142857142857em;

    a {
      display: inline-block;
      background-color: $color3;
      text-transform: uppercase;
      color: white;
      font-size: 2em;
      padding: .55em;
      font-weight: 300;
      letter-spacing: .1em;
      height: 1.8em;
    }
  }

  .content {

    background-color: $color4;

    .columns-2 {
      padding-top: 0;
      
      .outer-content {
        padding: 2em 0;
        

        p {
          @include columns(2);
          color: white;
          margin: 0;
          font-family: 'Asap', sans-serif;
          font-weight: 100;
          line-height: 1.9em;
          font-size: .9em;
        }
      }
    }
  }

  .hr {
    height: 10px;
  }

  .hr.after-content {
    background-color: $color3;
  }

  .pic-bg {
    background: url('img/test/background-pic.jpg');
    background-size: cover;

    blockquote {
      color: $color4;
      padding: 0;
      border: none;
      font-size: 6em;

      span:before {
        content: '"';
      }

      span:after {
        content: '"';
      }

      footer {
        text-align: right;
        font-family: 'Asap', sans-serif;
        font-size: .5em;
        font-weight: 900;
      }
    }
  }

  .hr.after-quote {
    background-color: $color5;
  }

  .orbit-container {
    margin: 6em auto;

    .angle-left {
      
      span {
        background-image: url('img/assets/components/slider-nav-left-arrow-white-small.png');
        margin-left: 14px;
      }
    }

    .angle-right {

      span {
        background-image: url('img/assets/components/slider-nav-right-arrow-white-small.png');
        margin-right: 14px; 
      }
    }

    .angle-left, .angle-right {
      text-indent: -9999px !important;

      span {
        border: none;
        background-color: rgba(0,0,0,.6);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 32px;
        width: 32px;
        background-size: contain;
      }
    }

    .icon-angle-left, .icon-angle-right {

    }

    .icon-angle-left:before, .icon-angle-right:before {
      font-family: 'FontAwesome';
    }

    .orbit-slide-number, .orbit-timer {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  .orbit-bullets {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
    /*
       Non-descript styles only for small screens
    */
    .small-content-centered {
        text-align: center !important;
    }
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
/* Grid changes from small to medium here */
@media only screen and (min-width: 768px) { 
  .copyright {
    text-align: right;
  }
  
  header .nav-bar .nav {
        display: inherit;
  }
}

