/*
		Typography
*/

.league-gothic {
	font-family: 'LeagueGothicRegular', sans-serif;  
}

.crimson {
    font-family: 'CrimsonRoman', serif;
}

.font-awesome {
    font-family: 'FontAwesome';
}

/*
    Styles for off-canvas nav 
*/
section[role="complementary-nav"],
#outer-container {
    transition: .2s all ease;
    float: left;
}

#outer-container {
    margin-left: 0;
}

#outer-container.active-sidebar {
    margin-left: -80%;
}

section[role="complementary-nav"] {
  margin-right: -200%;
  width: 80%;
  height: 100%;
  display: block;
  background-color: #1b1c1c;
  font-family: $font1;

  p.header-replace {
    height: 7.875em;
    margin: 10px 0 0 0;
    padding: 0;
  }

  hr {
    margin-top: 0;
  }

  ul {
    list-style-type: none;

    li {

      a {
        color: white;
        font-size: 3em;
        text-transform: uppercase;
      }
    }
  }
}

#content {
  padding-top: 2em;
}

/*
		Header styles
*/

.top-strip {
  height: 10px;
  background-color: #202120;
  border: none;
}

header {

  .nav-bar {
    font-family: $font1;

    .nav {

      p {
        margin: 0;

        i {
          line-height: 3.9375em;
          font-size: 2em;
          padding-right: .5em;
          font-style: normal;
        }
      }

      #magic-line {
        position: absolute;
        height: 5px;
        background-color: $color3;
        bottom: 0;
        z-index: 10;
      }

      .show-nav-off-canvas {
        position: relative;
        text-align: right;
        height: 7.875em;

        img {
          position: absolute;
          top: 1.9em;
          right: 0;
        }
      }

      ul.button-group {
        display: none;
        height: 10.78571428571429em;
        position: relative;
      }

      li {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin: auto 1em;
        text-align: center;
        position: relative;
        width: 75px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;
          background-color: inherit;
          border: none;
          font-size: 1.71428571428571em;
          padding: 0;
          margin: 0;
          padding-top: 2.4em;
          height: 100%;
          text-transform: uppercase;
          color: #6D6E70;
          font-weight: 500;
          -webkit-transition: all .35s linear 0;
          -moz-transition: all .35s linear 0;
          transition: all .35s linear 0;
        }
      }

      li:first-child {
        margin-right: 0; 
      }

      li.selected {
        background-color: white;
        border: none;

        img {
          position: absolute;
          z-index: 10;
          left: 40%;
        }
      }

      li.selected.no-js {
        background: url(img/assets/components/nav-bottom-border-red.gif) left bottom repeat-x; 
      }
    }
  }

  .main-logo {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    height: 7.875em;

    img {
      height: 5.375em;
    }

    .poster {
      display: inline-block;

      .movement {
        height: 75px;
        width: 77px;
        display: inline-block;
      }
    }
    
  }

  .row {

    hr {
      margin-top: 0; 
    }
  }

  .button-group > * {
    float: none;
  }
}

button.secondary:hover, 
button.secondary:focus, 
.button.secondary:hover, 
.button.secondary:focus {
  background-color: inherit;
}

div.title-page {
  
  h1 {
    font-size: 11em;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'LeagueGothicRegular';
    color: #6D6E70;
    line-height: .85;
    margin: 0;
    margin-top: .1em;
  }

  p {
    color: #6D6E70;
    font-size: 2em;
    margin-top: 0;
  }
}

.background-image {
  position: relative;
  overflow: hidden;

  div.columns {
    z-index: 10;
  }

  img.absolute-image {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;

    &.right {
      right: 0;
    }
  }
}

/*
    Work page styles
*/

.work-row {
    font-family: 'Asap', sans-serif;
    margin-bottom: 3em;

    .work-featured-image {
      height: 300px;
      line-height: 300px;
    }

  .work-title {
    font-size: 1.85714285714286em;
    color: #333333;
    font-weight: 700;
    font-style: italic;
  }

  .work-tags {
    li, span.tag-separator {
      color: #6D6E70;
      text-transform: uppercase;
    }

    li {
      display: inline-block;
      font-size: 0.85714285714286em;
      margin-top: 1em; 
      margin-bottom: 3em;
    }
  }

  hr {
    margin: 0;
  }
}

/*
		Footer styles
*/

.footer {
  background-color: #202120;    
  color: white;

  .row {
    margin: 1em auto;

    .columns {
      height: 32px;
    }
  }

  .copyright {
    height: 32px;
    display: table;  
    font-size: 1.15em;
    line-height: 32px;
    font-family: $font3;
    letter-spacing: .1em;

    span {
      display: table-cell;
      vertical-align: middle;   
    }
  }

  /* Social icon styles */

  .poster {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 1.5em;

    .movement {
      height: 32px;
      width: 32px;

      .social-icon {

        div.circle {
          display:inline-block;
          background-color: white;
          margin-left: 1.5em;
          border-radius: 100px;
          width: 32px;
          height: 32px;
          text-align: center;

          i {
            color: #202120;
            font-size: 20px;
            line-height: 32px;
            padding-left: 1px;
          }
        }
      }

      .social-icon:first-child .circle {
        margin-left: 0;
      }
    }

    .back {

      .social-icon {

        .circle {

          i.icon-facebook {
            color: #3a5998;
          }

          i.icon-instagram {
            color: #ffa876;
          }

          i.icon-linkedin-sign {
            color: #5ba8cf;
          }
        }
      }
    }
  }

  .poster:last-child {
    margin-right: 0;
  }
}

/* Individual portfolio styles */
.jrc-por {

  h1.por-title {
    @include single-title;
    color: $color2;
    margin-top: 0;
  }

  .por-nav {

    i {
      color: $color2;
      font-size: 1.85714285714286em;
      margin-left: 25px;
      vertical-align: top;
    }

    a:first-child i {
      margin-left: 0;
    }

    i.icon-angle-left, i.icon-angle-right {
      font-size: 2.5em;
      line-height: .55em;
      margin-top: 2em;
      font-weight: 500;
    }

    i.icon-th {
      line-height: .85;
    }

    i.icon-angle-left:before , i.icon-th:before, i.icon-angle-right:before {
      content: '';
      width: auto;
      margin: 0;
    }
  }

  .featured-image img {
    width: 100%;
    margin: 4em auto;
  }

  div.slideshow-link  {
    height: 3.57142857142857em;

    a {
      display: inline-block;
      background-color: $color3;
      text-transform: uppercase;
      color: white;
      font-size: 2em;
      padding: .55em;
      font-weight: 300;
      letter-spacing: .1em;
      height: 1.8em;
    }
  }

  .content {

    background-color: $color4;

    .columns-2 {
      padding-top: 0;
      
      .outer-content {
        padding: 2em 0;
        

        p {
          color: white;
          margin: 0;
          font-family: 'Asap', sans-serif;
          font-weight: 100;
          line-height: 1.9em;
          font-size: .9em;
        }
      }
    }
  }

  .hr {
    height: 10px;
  }

  .hr.after-content {
    background-color: $color3;
  }

  .pic-bg {
    background: url('img/test/background-pic.jpg');
    background-size: cover;

    blockquote {
      color: $color4;
      padding: 0;
      border: none;
      font-size: 3em;
      line-height: 1.5em;
      margin: 1em auto;

      span:before {
        content: '"';
      }

      span:after {
        content: '"';
      }

      footer {
        text-align: right;
        font-family: 'Asap', sans-serif;
        font-size: .5em;
        font-weight: 900;
      }
    }
  }

  .hr.after-quote {
    background-color: $color5;
  }

  .flexslider {
    margin: 6em auto;
    position: relative;

    .flex-control-nav {
      display: none;
    }

    .flex-direction-nav {
    }

    .flex-direction-navigation {

      ul {
        position: absolute;
        width: 100%;
        top: 50%;
        z-index: 9999999;

        li {
          position: inherit;
          width: 100%;

          a {
            color: black;
            position: inherit;
            margin-top: -3em;
            background-color: rgba(255,255,255,.6);
            padding: 1em;

            &.flex-prev {
              left: 0
            }

            &.flex-next {
              right: 0
            }

            i {
              color: black;
              font-size: 5em;
              margin-top: -2.5em;
            }
          }
        }
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .orbit-bullets {
    display: none;
  }
}

/* Blog page styles */

.blog-post {
  font-family: $font2;
  margin-bottom: 2em;

  a {
    color: black;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    text-transform: uppercase;
    font-family: $font1;
    font-size: 4em;
    font-weight: 100;
    color: $color2;
    margin: 0;
    line-height: 1em;
  }

  hr {
    border: 0;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 0;
  }

  p.category {
    font-weight: bold;
  }

  p {
    line-height: 2;
    font-size: .9em;
  }
}

.blog-post p.continue, .blog-post time, h4.widgettitle {
    font-size: 1.5em;
    margin: 0;
    line-height: 1em;
    font-family: $font2;
    color: $color6;
    font-style: italic;
    letter-spacing: 1px;
    font2-weight: bold;
}

li.cat-item {
  font-family: $font2;
  font-size: .9em;
  font-weight: bold;

  a {
    color: black;
  }
}

.background-wrapper {
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  &.about {
    height: 35em;
  }
}

.over-image-white * {
  text-shadow: 0 0 4px #fff;
}

@media only screen and (max-width: 767px) {
    /*
       Non-descript styles only for small screens
    */
    .small-content-centered {
        text-align: center !important;
    }
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
/* Grid changes from small to medium here */
@media only screen and (min-width: 768px) { 
  
}

