html, body {
  height: 100%;
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  letter-spacing: .05em;
}

#outer-container {
  display: table;
  height: 100%;
  width: 100%;
}

.row {
    max-width: 73em;
}

.footer {
  display: table-row;
  height: 1px;
}

ul, li {
    list-style-type: none;
}