$color1: #333333; /* Dark gray */
$color2: #6D6E70; /* medium gray */
$color3: #d91f37; /* red */
$color4: #202120; /* black */
$color5: #cfd0d2; /* light gray */
$color6: #a5a7ab; /* medium-light gray */

$font1: 'LeagueGothicRegular', sans-serif;
$font2: 'Asap', sans-serif;
$font3: 'CrimsonRoman', serif;