#outer-container.home {
  background: url(../img/assets/photos/alexis-background-no-lines.jpg) left 92% no-repeat;
  background-size: 120% ;
}

/* Styles for main page */
.background-wrapper {
  width: 100%;
  position: relative;
  height: 25em;
}

.rw-div {
    position: relative;
    text-transform: uppercase;
}

.rw-div span {
    font-size: 3em;
    line-height: 1.5em;
    text-shadow: 0 0 2px #fff;
}

.rw-words {
    display: inline;
}

.rw-words span {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    height: 92px;
    color: #d71f37;
}

@media only screen and (min-width: 430px) {
    .background-wrapper {
        height: 35em;
    }
}

@media only screen and (min-width: 500px), screen and (min-height: 700px) {
    .rw-div span {
        font-size: 4.5em;
    }
}

@media only screen and (min-width: 600px) {
  /* change the background picture size and position */
  #outer-container.home {
    background-size: 750px auto;
  }
}

@media only screen and (min-width: 768px) { 
  #outer-container.home {
    background: url(../img/assets/photos/alexis-background-no-lines.jpg) 111px 98% no-repeat;
    background-size: 900px auto;
  }
  
  .rw-div span {
    font-size: 7em;
    line-height: 1.3em;
  }
  
  .background-wrapper {
    height: 45em;
  }

}

@media only screen and (min-width: 960px) {
  #outer-container.home {
    background-position: right 98%;
  }
}