#outer-container {
  background: url(../img/assets/photos/alexis-background.jpg) left 92% no-repeat;
  background-size: 120% ;
}

/* Styles for main page */
.background-wrapper {
  width: 100%;
  position: relative;
  height: 25em;
}

.rw-div {
    position: relative;
    text-transform: uppercase;
}

.rw-div span {
    font-size: 3em;
    line-height: 1.5em;
    text-shadow: 0 0 2px #fff;
}

.rw-words {
    display: inline;
}

.rw-words span {
    position: absolute;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    height: 92px;
    color: #d71f37;
}

.rw-words-1 span {
    -webkit-animation: rotateWords 9s linear infinite 2s;
    -moz-animation: rotateWords 9s linear infinite 2s;
    -o-animation: rotateWords 9s linear infinite 2s;
    animation: rotateWords 9s linear infinite 2s;
}

.rw-words-2 span {
    -webkit-animation: rotateWords 10.5s linear infinite 2s;
    -moz-animation: rotateWords 10.5s linear infinite 2s;
    -o-animation: rotateWords 10.5s linear infinite 2s;
    animation: rotateWords 10.5s linear infinite 2s;
}

.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}

.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    animation-delay: 8s;
}

.rw-words-2 span:nth-child(2) {
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
    animation-delay: 5.5s;
}

.rw-words-2 span:nth-child(3) {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    animation-delay: 9s;
}

@-webkit-keyframes rotateWords {
    0% { opacity: 1; 
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
    25% { opacity: 1; }
    33% { opacity: 0; }
    92% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes rotateWords {
    0% { opacity: 1; 
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
    25% { opacity: 1; }
    33% { opacity: 0; }
    92% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes rotateWords {
    0% { opacity: 1; 
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
    25% { opacity: 1; }
    33% { opacity: 0; }
    92% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes rotateWords {
    0% { opacity: 1; 
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
    25% { opacity: 1; }
    33% { opacity: 0; }
    92% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (min-width: 430px) {
    .background-wrapper {
        height: 35em;
    }
}

@media only screen and (min-width: 500px), screen and (min-height: 700px) {
    .rw-div span {
        font-size: 4.5em;
    }
}

@media only screen and (min-width: 600px) {
  /* change the background picture size and position */
  #outer-container {
    background-size: 750px auto;
  }
}

@media only screen and (min-width: 768px) { 
  #outer-container {
    background: url(../img/assets/photos/alexis-background.jpg) right 98% no-repeat;
    background-size: 900px auto;
  }
  
  .rw-div span {
    font-size: 7em;
    line-height: 1.3em;
  }
  
  .background-wrapper {
        height: 45em;
  }

}